@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?98317744');
  src: url('../font/fontello.eot?98317744#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?98317744') format('woff'),
       url('../font/fontello.ttf?98317744') format('truetype'),
       url('../font/fontello.svg?98317744#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?98317744#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e800'; } /* '��' */
.icon-twitter:before { content: '\e801'; } /* '���' */
.icon-gplus:before { content: '\e802'; } /* '���' */
.icon-plurk:before { content: '\e803'; } /* '���' */
.icon-instagram:before { content: '\e804'; } /* '���' */
.icon-mail-alt:before { content: '\e805'; } /* '���' */
.icon-print:before { content: '\e806'; } /* '���' */
.icon-link:before { content: '\e807'; } /* '���' */
.icon-linkedin:before { content: '\e808'; } /* '���' */
.icon-flickr:before { content: '\e809'; } /* '���' */
.icon-th-list:before { content: '\e80a'; } /* '���' */
.icon-th-large:before { content: '\e80b'; } /* '���' */
.icon-th:before { content: '\e80c'; } /* '���' */
.icon-ok:before { content: '\e80d'; } /* '���' */
.icon-cancel:before { content: '\e80e'; } /* '���' */
.icon-minus:before { content: '\e80f'; } /* '���' */
.icon-help:before { content: '\e810'; } /* '���' */
.icon-reply:before { content: '\e811'; } /* '���' */
.icon-reply-all:before { content: '\e812'; } /* '���' */
.icon-forward:before { content: '\e813'; } /* '���' */
.icon-chat:before { content: '\e814'; } /* '���' */
.icon-comment:before { content: '\e815'; } /* '���' */
.icon-trash:before { content: '\e816'; } /* '���' */
.icon-folder:before { content: '\e817'; } /* '���' */
.icon-folder-open:before { content: '\e818'; } /* '���' */
.icon-location:before { content: '\e819'; } /* '���' */
.icon-cog:before { content: '\e81a'; } /* '���' */
.icon-cog-alt:before { content: '\e81b'; } /* '���' */
.icon-menu:before { content: '\e81c'; } /* '���' */
.icon-phone:before { content: '\e81d'; } /* '���' */
.icon-rss:before { content: '\e81e'; } /* '���' */
.icon-calendar:before { content: '\e81f'; } /* '���' */
.icon-volume-off:before { content: '\e820'; } /* '���' */
.icon-volume-down:before { content: '\e821'; } /* '�' */
.icon-volume-up:before { content: '\e822'; } /* '�' */
.icon-resize-full:before { content: '\e823'; } /* '�' */
.icon-resize-full-alt:before { content: '\e824'; } /* '�' */
.icon-block:before { content: '\e825'; } /* '�' */
.icon-move:before { content: '\e826'; } /* '�' */
.icon-zoom-in:before { content: '\e827'; } /* '�' */
.icon-down-dir:before { content: '\e828'; } /* '�' */
.icon-up-dir:before { content: '\e829'; } /* '�' */
.icon-left-dir:before { content: '\e82a'; } /* '�' */
.icon-right-dir:before { content: '\e82b'; } /* '�' */
.icon-down-open:before { content: '\e82c'; } /* '�' */
.icon-left-open:before { content: '\e82d'; } /* '�' */
.icon-right-open:before { content: '\e82e'; } /* '�' */
.icon-up-open:before { content: '\e82f'; } /* '�' */
.icon-angle-left:before { content: '\e830'; } /* '�' */
.icon-angle-right:before { content: '\e831'; } /* '�' */
.icon-angle-up:before { content: '\e832'; } /* '�' */
.icon-angle-down:before { content: '\e833'; } /* '�' */
.icon-angle-double-left:before { content: '\e834'; } /* '�' */
.icon-angle-double-right:before { content: '\e835'; } /* '�' */
.icon-angle-double-up:before { content: '\e836'; } /* '�' */
.icon-angle-double-down:before { content: '\e837'; } /* '�' */
.icon-down:before { content: '\e838'; } /* '�' */
.icon-left:before { content: '\e839'; } /* '�' */
.icon-right:before { content: '\e83a'; } /* '�' */
.icon-up:before { content: '\e83b'; } /* '�' */
.icon-down-big:before { content: '\e83c'; } /* '�' */
.icon-left-big:before { content: '\e83d'; } /* '�' */
.icon-right-big:before { content: '\e83e'; } /* '�' */
.icon-up-big:before { content: '\e83f'; } /* '�' */
.icon-cw:before { content: '\e840'; } /* '謘�' */
.icon-ccw:before { content: '\e841'; } /* '謘�' */
.icon-arrows-cw:before { content: '\e842'; } /* '謘�' */
.icon-exchange:before { content: '\e843'; } /* '謘�' */
.icon-shuffle:before { content: '\e844'; } /* '謘�' */
.icon-stop:before { content: '\e845'; } /* '謘�' */
.icon-pause:before { content: '\e846'; } /* '謘�' */
.icon-to-end:before { content: '\e847'; } /* '謘�' */
.icon-to-end-alt:before { content: '\e848'; } /* '謘�' */
.icon-to-start:before { content: '\e849'; } /* '謘�' */
.icon-to-start-alt:before { content: '\e84a'; } /* '謘�' */
.icon-fast-fw:before { content: '\e84b'; } /* '謘�' */
.icon-fast-bw:before { content: '\e84c'; } /* '謘�' */
.icon-eject:before { content: '\e84d'; } /* '謘�' */
.icon-signal:before { content: '\e84e'; } /* '謘�' */
.icon-wifi:before { content: '\e84f'; } /* '謘�' */
.icon-desktop:before { content: '\e850'; } /* '謘�' */
.icon-laptop:before { content: '\e851'; } /* '謘�' */
.icon-tablet:before { content: '\e852'; } /* '謘�' */
.icon-mobile:before { content: '\e853'; } /* '謘�' */
.icon-inbox:before { content: '\e854'; } /* '謘�' */
.icon-globe:before { content: '\e855'; } /* '謘�' */
.icon-download:before { content: '\e856'; } /* '謘�' */
.icon-upload:before { content: '\e857'; } /* '謘�' */
.icon-thumbs-up:before { content: '\e858'; } /* '謘�' */
.icon-thumbs-down:before { content: '\e859'; } /* '謘�' */
.icon-thumbs-up-alt:before { content: '\e85a'; } /* '謘�' */
.icon-thumbs-down-alt:before { content: '\e85b'; } /* '謘�' */
.icon-download-cloud:before { content: '\e85c'; } /* '謘�' */
.icon-upload-cloud:before { content: '\e85d'; } /* '謘�' */
.icon-attention:before { content: '\e85e'; } /* '謘�' */
.icon-attention-circled:before { content: '\e85f'; } /* '謘�' */
.icon-attention-alt:before { content: '\e860'; } /* '謘�' */
.icon-sun:before { content: '\e861'; } /* '謘�' */
.icon-cloud:before { content: '\e862'; } /* '謘�' */
.icon-flash:before { content: '\e863'; } /* '謘�' */
.icon-align-left:before { content: '\e864'; } /* '謘�' */
.icon-align-center:before { content: '\e865'; } /* '謘�' */
.icon-align-right:before { content: '\e866'; } /* '謘�' */
.icon-align-justify:before { content: '\e867'; } /* '謘�' */
.icon-list:before { content: '\e868'; } /* '謘�' */
.icon-indent-left:before { content: '\e869'; } /* '謘�' */
.icon-indent-right:before { content: '\e86a'; } /* '謘�' */
.icon-list-bullet:before { content: '\e86b'; } /* '謘�' */
.icon-list-numbered:before { content: '\e86c'; } /* '謘�' */
.icon-table:before { content: '\e86d'; } /* '謘�' */
.icon-briefcase:before { content: '\e86e'; } /* '謘�' */
.icon-suitcase:before { content: '\e86f'; } /* '謘�' */
.icon-ellipsis:before { content: '\e870'; } /* '謘�' */
.icon-chart-bar:before { content: '\e871'; } /* '謘�' */
.icon-chart-area:before { content: '\e872'; } /* '謘�' */
.icon-chart-pie:before { content: '\e873'; } /* '謘�' */
.icon-chart-line:before { content: '\e874'; } /* '謘�' */
.icon-spinner:before { content: '\e875'; } /* '謘�' */
.icon-sitemap:before { content: '\e876'; } /* '謘�' */
.icon-coffee:before { content: '\e877'; } /* '謘�' */
.icon-food:before { content: '\e878'; } /* '謘�' */
.icon-cc-visa:before { content: '\e879'; } /* '謘�' */
.icon-cc-mastercard:before { content: '\e87a'; } /* '謘�' */
.icon-cc-discover:before { content: '\e87b'; } /* '謘�' */
.icon-cc-amex:before { content: '\e87c'; } /* '謘�' */
.icon-cc-paypal:before { content: '\e87d'; } /* '謘�' */
.icon-brush:before { content: '\e87e'; } /* '謘�' */
.icon-cc:before { content: '\e87f'; } /* '謘�' */
.icon-android:before { content: '\e880'; } /* '謖�' */
.icon-delicious:before { content: '\e881'; } /* '謖�' */
.icon-dropbox:before { content: '\e882'; } /* '謖�' */
.icon-pinterest-circled:before { content: '\e883'; } /* '謖�' */
.icon-tumblr:before { content: '\e884'; } /* '謖�' */
.icon-youtube:before { content: '\e885'; } /* '謖�' */
.icon-clock:before { content: '\e886'; } /* '謖�' */
.icon-doc-text-inv:before { content: '\e887'; } /* '謖�' */
.icon-doc-inv:before { content: '\e888'; } /* '謖�' */
.icon-doc-text:before { content: '\e889'; } /* '謖�' */
.icon-trash-empty:before { content: '\e88a'; } /* '謖�' */
.icon-thumbs-up-1:before { content: '\e88b'; } /* '謖�' */
.icon-thumbs-down-1:before { content: '\e88c'; } /* '謖�' */
.icon-download-1:before { content: '\e88d'; } /* '謖�' */
.icon-upload-1:before { content: '\e88e'; } /* '謖�' */
.icon-reply-1:before { content: '\e88f'; } /* '謖�' */
.icon-reply-all-1:before { content: '\e890'; } /* '謖�' */
.icon-forward-1:before { content: '\e891'; } /* '謖�' */
.icon-plus:before { content: '\e892'; } /* '謖�' */
.icon-minus-1:before { content: '\e893'; } /* '謖�' */
.icon-info:before { content: '\e894'; } /* '謖�' */
.icon-resize-full-1:before { content: '\e895'; } /* '謖�' */
.icon-resize-small:before { content: '\e896'; } /* '謖�' */
.icon-down-open-1:before { content: '\e897'; } /* '謖�' */
.icon-left-open-1:before { content: '\e898'; } /* '謖�' */
.icon-right-open-1:before { content: '\e899'; } /* '謖�' */
.icon-up-open-1:before { content: '\e89a'; } /* '謖�' */
.icon-down-open-mini:before { content: '\e89b'; } /* '謖�' */
.icon-left-open-mini:before { content: '\e89c'; } /* '謖�' */
.icon-right-open-mini:before { content: '\e89d'; } /* '謖�' */
.icon-up-open-mini:before { content: '\e89e'; } /* '謖�' */
.icon-down-open-big:before { content: '\e89f'; } /* '謖�' */
.icon-left-open-big:before { content: '\e8a0'; } /* '謖�' */
.icon-right-open-big:before { content: '\e8a1'; } /* '謖�' */
.icon-up-open-big:before { content: '\e8a2'; } /* '謖�' */
.icon-down-1:before { content: '\e8a3'; } /* '謖�' */
.icon-left-1:before { content: '\e8a4'; } /* '謖�' */
.icon-right-1:before { content: '\e8a5'; } /* '謖�' */
.icon-up-1:before { content: '\e8a6'; } /* '謖�' */
.icon-down-bold:before { content: '\e8a7'; } /* '謖�' */
.icon-left-bold:before { content: '\e8a8'; } /* '謖�' */
.icon-right-bold:before { content: '\e8a9'; } /* '謖�' */
.icon-up-bold:before { content: '\e8aa'; } /* '謖�' */
.icon-down-thin:before { content: '\e8ab'; } /* '謖�' */
.icon-left-thin:before { content: '\e8ac'; } /* '謖�' */
.icon-right-thin:before { content: '\e8ad'; } /* '謖�' */
.icon-up-thin:before { content: '\e8ae'; } /* '謖�' */
.icon-ccw-1:before { content: '\e8af'; } /* '謖�' */
.icon-cw-1:before { content: '\e8b0'; } /* '謖�' */
.icon-arrows-ccw:before { content: '\e8b1'; } /* '謖�' */
.icon-th-list-1:before { content: '\e8b2'; } /* '謖�' */
.icon-picture:before { content: '\e8b3'; } /* '謖�' */
.icon-heart-filled:before { content: '\e8b4'; } /* '謖�' */
.icon-heart:before { content: '\e8b5'; } /* '謖�' */
.icon-star:before { content: '\e8b6'; } /* '謖�' */
.icon-star-filled:before { content: '\e8b7'; } /* '謖�' */
.icon-user-outline:before { content: '\e8b8'; } /* '謖�' */
.icon-user:before { content: '\e8b9'; } /* '謖�' */
.icon-users-outline:before { content: '\e8ba'; } /* '謖�' */
.icon-users:before { content: '\e8bb'; } /* '謖�' */
.icon-user-add-outline:before { content: '\e8bc'; } /* '謖�' */
.icon-user-add:before { content: '\e8bd'; } /* '謖�' */
.icon-user-delete-outline:before { content: '\e8be'; } /* '謖�' */
.icon-user-delete:before { content: '\e8bf'; } /* '謖�' */
.icon-user-1:before { content: '\e8c0'; } /* '謑�' */
.icon-users-1:before { content: '\e8c1'; } /* '謑�' */
.icon-user-add-1:before { content: '\e8c2'; } /* '謑�' */
.icon-heart-1:before { content: '\e8c3'; } /* '謑�' */
.icon-star-1:before { content: '\e8c4'; } /* '謑�' */
.icon-user-2:before { content: '\e8c5'; } /* '謑�' */
.icon-users-2:before { content: '\e8c6'; } /* '謑�' */
.icon-male:before { content: '\e8c7'; } /* '謑�' */
.icon-female:before { content: '\e8c8'; } /* '謑�' */
.icon-child:before { content: '\e8c9'; } /* '謑�' */
.icon-picture-1:before { content: '\e8ca'; } /* '謑�' */
.icon-videocam:before { content: '\e8cb'; } /* '謑�' */
.icon-video:before { content: '\e8cc'; } /* '謑�' */
.icon-camera:before { content: '\e8cd'; } /* '謑�' */
.icon-pin:before { content: '\e8ce'; } /* '謑�' */
.icon-tag:before { content: '\e8cf'; } /* '謑�' */
.icon-tags:before { content: '\e8d0'; } /* '謑�' */
.icon-bookmark:before { content: '\e8d1'; } /* '謑�' */
.icon-ok-outline:before { content: '\e8d2'; } /* '謑�' */
.icon-ok-1:before { content: '\e8d3'; } /* '謑�' */
.icon-cancel-outline:before { content: '\e8d4'; } /* '謑�' */
.icon-plus-outline:before { content: '\e8d5'; } /* '謑�' */
.icon-minus-outline:before { content: '\e8d6'; } /* '謑�' */
.icon-info-outline:before { content: '\e8d7'; } /* '謑�' */
.icon-info-1:before { content: '\e8d8'; } /* '謑�' */
.icon-home:before { content: '\e8d9'; } /* '謑�' */
.icon-home-1:before { content: '\e8da'; } /* '謑�' */
.icon-info-2:before { content: '\e8db'; } /* '謑�' */
.icon-info-circled:before { content: '\e8dc'; } /* '謑�' */
.icon-help-circled:before { content: '\e8dd'; } /* '謑�' */
.icon-map:before { content: '\e8de'; } /* '謑�' */
.icon-direction-outline:before { content: '\e8df'; } /* '謑�' */
.icon-location-1:before { content: '\e8e0'; } /* '謑�' */
.icon-direction:before { content: '\e8e1'; } /* '謑�' */
.icon-export:before { content: '\e8e2'; } /* '謑�' */
.icon-export-outline:before { content: '\e8e3'; } /* '謑�' */
.icon-pencil:before { content: '\e8e4'; } /* '謑�' */
.icon-download-outline:before { content: '\e8e5'; } /* '謑�' */
.icon-download-2:before { content: '\e8e6'; } /* '謑�' */
.icon-upload-outline:before { content: '\e8e7'; } /* '謑�' */
.icon-upload-2:before { content: '\e8e8'; } /* '謑�' */
.icon-link-1:before { content: '\e8e9'; } /* '謑�' */
.icon-reply-outline:before { content: '\e8ea'; } /* '謑�' */
.icon-reply-2:before { content: '\e8eb'; } /* '謑�' */
.icon-forward-outline:before { content: '\e8ec'; } /* '謑�' */
.icon-forward-2:before { content: '\e8ed'; } /* '謑�' */
.icon-down-outline:before { content: '\e8ee'; } /* '謑�' */
.icon-left-outline:before { content: '\e8ef'; } /* '謑�' */
.icon-right-outline:before { content: '\e8f0'; } /* '謑�' */
.icon-up-outline:before { content: '\e8f1'; } /* '謑�' */
.icon-left-open-outline:before { content: '\e8f2'; } /* '謑�' */
.icon-left-open-2:before { content: '\e8f3'; } /* '謑�' */
.icon-right-open-outline:before { content: '\e8f4'; } /* '謑�' */
.icon-right-open-2:before { content: '\e8f5'; } /* '謑�' */
.icon-down-2:before { content: '\e8f6'; } /* '謑�' */
.icon-left-2:before { content: '\e8f7'; } /* '謑�' */
.icon-right-2:before { content: '\e8f8'; } /* '謑�' */
.icon-up-2:before { content: '\e8f9'; } /* '謑�' */
.icon-down-small:before { content: '\e8fa'; } /* '謑�' */
.icon-left-small:before { content: '\e8fb'; } /* '謑�' */
.icon-right-small:before { content: '\e8fc'; } /* '謑�' */
.icon-up-small:before { content: '\e8fd'; } /* '謑�' */
.icon-sun-1:before { content: '\e8fe'; } /* '謑�' */
.icon-sun-filled:before { content: '\e8ff'; } /* '謑�' */
.icon-desktop-1:before { content: '\e900'; } /* '謅�' */
.icon-laptop-1:before { content: '\e901'; } /* '謅�' */
.icon-tablet-1:before { content: '\e902'; } /* '謅�' */
.icon-flash-outline:before { content: '\e903'; } /* '謅�' */
.icon-cloud-1:before { content: '\e904'; } /* '謅�' */
.icon-flash-1:before { content: '\e905'; } /* '謅�' */
.icon-moon:before { content: '\e906'; } /* '謅�' */
.icon-waves-outline:before { content: '\e907'; } /* '謅�' */
.icon-waves:before { content: '\e908'; } /* '謅�' */
.icon-rain:before { content: '\e909'; } /* '謅�' */
.icon-cloud-sun:before { content: '\e90a'; } /* '謅�' */
.icon-drizzle:before { content: '\e90b'; } /* '謅�' */
.icon-snow:before { content: '\e90c'; } /* '謅�' */
.icon-cloud-flash:before { content: '\e90d'; } /* '謅�' */
.icon-cloud-wind:before { content: '\e90e'; } /* '謅�' */
.icon-wind:before { content: '\e90f'; } /* '謅�' */
.icon-flow-cross:before { content: '\e910'; } /* '謅�' */
.icon-file-pdf:before { content: '\e911'; } /* '謅�' */
.icon-file-word:before { content: '\e912'; } /* '謅�' */
.icon-file-excel:before { content: '\e913'; } /* '謅�' */
.icon-file-powerpoint:before { content: '\e914'; } /* '謅�' */
.icon-file-image:before { content: '\e915'; } /* '謅�' */
.icon-file-archive:before { content: '\e916'; } /* '謅�' */
.icon-file-audio:before { content: '\e917'; } /* '謅�' */
.icon-file-video:before { content: '\e918'; } /* '謅�' */
.icon-file-code:before { content: '\e919'; } /* '謅�' */
.icon-rss-squared:before { content: '\e91a'; } /* '謅�' */
.icon-pencil-1:before { content: '\e91b'; } /* '謅�' */
.icon-pencil-squared:before { content: '\e91c'; } /* '謅�' */
.icon-flag:before { content: '\e91d'; } /* '謅�' */
.icon-link-ext-alt:before { content: '\e91e'; } /* '謅�' */
.icon-link-ext:before { content: '\e91f'; } /* '謅�' */
.icon-lock:before { content: '\e920'; } /* '謅�' */
.icon-lock-open:before { content: '\e921'; } /* '謅�' */
.icon-lock-open-alt:before { content: '\e922'; } /* '謅�' */
.icon-ok-circled:before { content: '\e923'; } /* '謅�' */
.icon-ok-circled2:before { content: '\e924'; } /* '謅�' */
.icon-ok-squared:before { content: '\e925'; } /* '謅�' */
.icon-cancel-circled:before { content: '\e926'; } /* '謅�' */
.icon-cancel-circled2:before { content: '\e927'; } /* '謅�' */
.icon-plus-1:before { content: '\e928'; } /* '謅�' */
.icon-plus-circled:before { content: '\e929'; } /* '謅�' */
.icon-plus-squared:before { content: '\e92a'; } /* '謅�' */
.icon-minus-circled:before { content: '\e92b'; } /* '謅�' */
.icon-plus-squared-alt:before { content: '\e92c'; } /* '謅�' */
.icon-minus-squared:before { content: '\e92d'; } /* '謅�' */
.icon-minus-squared-alt:before { content: '\e92e'; } /* '謅�' */
.icon-mail:before { content: '\e92f'; } /* '謅�' */
.icon-search:before { content: '\e930'; } /* '謅�' */
.icon-music:before { content: '\e931'; } /* '謅�' */
.icon-bell-alt:before { content: '\e932'; } /* '謅�' */
.icon-bell-off:before { content: '\e933'; } /* '謅�' */
.icon-mic:before { content: '\e934'; } /* '謅�' */
.icon-logout:before { content: '\e935'; } /* '謅�' */
.icon-login:before { content: '\e936'; } /* '謅�' */
.icon-calendar-empty:before { content: '\e937'; } /* '謅�' */
.icon-basket:before { content: '\e938'; } /* '謅�' */
.icon-sliders:before { content: '\e939'; } /* '謅�' */
.icon-wrench:before { content: '\e93a'; } /* '謅�' */
.icon-folder-empty:before { content: '\e93b'; } /* '謅�' */
.icon-folder-open-empty:before { content: '\e93c'; } /* '謅�' */
.icon-phone-squared:before { content: '\e93d'; } /* '謅�' */
.icon-fax:before { content: '\e93e'; } /* '謅�' */
.icon-resize-small-1:before { content: '\e93f'; } /* '謅�' */
.icon-resize-vertical:before { content: '\e940'; } /* '謋�' */
.icon-resize-horizontal:before { content: '\e941'; } /* '謋�' */
.icon-zoom-out:before { content: '\e942'; } /* '謋�' */
.icon-down-circled2:before { content: '\e943'; } /* '謋�' */
.icon-up-circled2:before { content: '\e944'; } /* '謋�' */
.icon-left-circled2:before { content: '\e945'; } /* '謋�' */
.icon-right-circled2:before { content: '\e946'; } /* '謋�' */
.icon-angle-circled-left:before { content: '\e947'; } /* '謋�' */
.icon-angle-circled-right:before { content: '\e948'; } /* '謋�' */
.icon-angle-circled-up:before { content: '\e949'; } /* '謋�' */
.icon-angle-circled-down:before { content: '\e94a'; } /* '謋�' */
.icon-left-circled:before { content: '\e94b'; } /* '謋�' */
.icon-right-circled:before { content: '\e94c'; } /* '謋�' */
.icon-up-circled:before { content: '\e94d'; } /* '謋�' */
.icon-down-circled:before { content: '\e94e'; } /* '謋�' */
.icon-expand:before { content: '\e94f'; } /* '謋�' */
.icon-collapse:before { content: '\e950'; } /* '謋�' */
.icon-expand-right:before { content: '\e951'; } /* '謋�' */
.icon-collapse-left:before { content: '\e952'; } /* '謋�' */
.icon-play:before { content: '\e953'; } /* '謋�' */
.icon-play-circled:before { content: '\e954'; } /* '謋�' */
.icon-play-circled2:before { content: '\e955'; } /* '謋�' */
.icon-award:before { content: '\e956'; } /* '謋�' */
.icon-credit-card:before { content: '\e957'; } /* '謋�' */
.icon-floppy:before { content: '\e958'; } /* '謋�' */
.icon-off:before { content: '\e959'; } /* '謋�' */
.icon-euro:before { content: '\e95a'; } /* '謋�' */
.icon-pound:before { content: '\e95b'; } /* '謋�' */
.icon-rupee:before { content: '\e95c'; } /* '謋�' */
.icon-dollar:before { content: '\e95d'; } /* '謋�' */
.icon-yen:before { content: '\e95e'; } /* '謋�' */
.icon-certificate:before { content: '\e95f'; } /* '謋�' */
.icon-filter:before { content: '\e960'; } /* '謋�' */
.icon-tasks:before { content: '\e961'; } /* '謋�' */
.icon-cab:before { content: '\e962'; } /* '謋�' */
.icon-taxi:before { content: '\e963'; } /* '謋�' */
.icon-truck:before { content: '\e964'; } /* '謋�' */
.icon-bus:before { content: '\e965'; } /* '謋�' */
.icon-bicycle:before { content: '\e966'; } /* '謋�' */
.icon-sort-alt-up:before { content: '\e967'; } /* '謋�' */
.icon-sort-alt-down:before { content: '\e968'; } /* '謋�' */
.icon-sort-name-up:before { content: '\e969'; } /* '謋�' */
.icon-sort-name-down:before { content: '\e96a'; } /* '謋�' */
.icon-sort-number-up:before { content: '\e96b'; } /* '謋�' */
.icon-sort-number-down:before { content: '\e96c'; } /* '謋�' */
.icon-sort-up:before { content: '\e96d'; } /* '謋�' */
.icon-sort-down:before { content: '\e96e'; } /* '謋�' */
.icon-smile:before { content: '\e96f'; } /* '謋�' */
.icon-frown:before { content: '\e970'; } /* '謋�' */
.icon-meh:before { content: '\e971'; } /* '謋�' */
.icon-eyedropper:before { content: '\e972'; } /* '謋�' */
.icon-graduation-cap:before { content: '\e973'; } /* '謋�' */
.icon-cubes:before { content: '\e974'; } /* '謋�' */
.icon-tumblr-squared:before { content: '\e975'; } /* '謋�' */
.icon-wechat:before { content: '\e976'; } /* '謋�' */
.icon-pinterest-squared:before { content: '\e977'; } /* '謋�' */
.icon-instagramm:before { content: '\e978'; } /* '謋�' */
.icon-html5:before { content: '\e979'; } /* '謋�' */
.icon-linkedin-squared:before { content: '\e97a'; } /* '謋�' */
.icon-apple:before { content: '\e97b'; } /* '謋�' */
.icon-copyright:before { content: '\e97c'; } /* '謋�' */
.icon-wheelchair:before { content: '\e97d'; } /* '謋�' */
.icon-cancel-1:before { content: '\e97e'; } /* '謋�' */
.icon-check:before { content: '\e97f'; } /* '謋�' */
.icon-th-1:before { content: '\e980'; } /* '謢�' */
.icon-th-large-1:before { content: '\e981'; } /* '謢�' */
.icon-th-list-2:before { content: '\e982'; } /* '謢�' */
.icon-ok-2:before { content: '\e983'; } /* '謢�' */
.icon-ok-circle:before { content: '\e984'; } /* '謢�' */
.icon-cancel-2:before { content: '\e985'; } /* '謢�' */
.icon-logout-1:before { content: '\e986'; } /* '謢�' */
.icon-mail-1:before { content: '\e987'; } /* '謢�' */
.icon-heart-2:before { content: '\e988'; } /* '謢�' */
.icon-star-2:before { content: '\e989'; } /* '謢�' */
.icon-videocam-1:before { content: '\e98a'; } /* '謢�' */
.icon-photo:before { content: '\e98b'; } /* '謢�' */
.icon-attach:before { content: '\e98c'; } /* '謢�' */
.icon-camera-1:before { content: '\e98d'; } /* '謢�' */
.icon-lock-1:before { content: '\e98e'; } /* '謢�' */
.icon-user-3:before { content: '\e98f'; } /* '謢�' */
.icon-music-1:before { content: '\e990'; } /* '謢�' */
.icon-search-1:before { content: '\e991'; } /* '謢�' */
.icon-note:before { content: '\e992'; } /* '謢�' */
.icon-cog-1:before { content: '\e993'; } /* '謢�' */
.icon-beaker:before { content: '\e994'; } /* '謢�' */
.icon-truck-1:before { content: '\e995'; } /* '謢�' */
.icon-params:before { content: '\e996'; } /* '謢�' */
.icon-money:before { content: '\e997'; } /* '謢�' */
.icon-calendar-1:before { content: '\e998'; } /* '謢�' */
.icon-food-1:before { content: '\e999'; } /* '謢�' */
.icon-diamond:before { content: '\e99a'; } /* '謢�' */
.icon-clock-1:before { content: '\e99b'; } /* '謢�' */
.icon-sound:before { content: '\e99c'; } /* '謢�' */
.icon-shop:before { content: '\e99d'; } /* '謢�' */
.icon-lightbulb:before { content: '\e99e'; } /* '謢�' */
.icon-t-shirt:before { content: '\e99f'; } /* '謢�' */
.icon-tv:before { content: '\e9a0'; } /* '謢�' */
.icon-wallet:before { content: '\e9a1'; } /* '謢�' */
.icon-desktop-2:before { content: '\e9a2'; } /* '謢�' */
.icon-mobile-1:before { content: '\e9a3'; } /* '謢�' */
.icon-cd:before { content: '\e9a4'; } /* '謢�' */
.icon-inbox-1:before { content: '\e9a5'; } /* '謢�' */
.icon-eye:before { content: '\e9a6'; } /* '謢�' */
.icon-tag-1:before { content: '\e9a7'; } /* '謢�' */
.icon-thumbs-up-2:before { content: '\e9a8'; } /* '謢�' */
.icon-pencil-2:before { content: '\e9a9'; } /* '謢�' */
.icon-comment-1:before { content: '\e9aa'; } /* '謢�' */
.icon-location-2:before { content: '\e9ab'; } /* '謢�' */
.icon-cup:before { content: '\e9ac'; } /* '謢�' */
.icon-trash-1:before { content: '\e9ad'; } /* '謢�' */
.icon-key:before { content: '\e9ae'; } /* '謢�' */
.icon-database:before { content: '\e9af'; } /* '謢�' */
.icon-megaphone:before { content: '\e9b0'; } /* '謢�' */
.icon-doc:before { content: '\e9b1'; } /* '謢�' */
.icon-fire:before { content: '\e9b2'; } /* '謢�' */
.icon-graduation-cap-1:before { content: '\e9b3'; } /* '謢�' */
.icon-globe-1:before { content: '\e9b4'; } /* '謢�' */
.icon-cloud-2:before { content: '\e9b5'; } /* '謢�' */
.icon-path:before { content: '\e9b6'; } /* '謢�' */
.icon-check-1:before { content: '\e9b7'; } /* '謢�' */
.icon-check-empty:before { content: '\e9b8'; } /* '謢�' */
.icon-upload-3:before { content: '\e9b9'; } /* '謢�' */
.icon-download-alt:before { content: '\e9ba'; } /* '謢�' */
.icon-download-3:before { content: '\e9bb'; } /* '謢�' */
.icon-export-1:before { content: '\e9bc'; } /* '謢�' */
.icon-facebook-1:before { content: '\e9bd'; } /* '謢�' */
.icon-facebook-rect:before { content: '\e9be'; } /* '謢�' */
.icon-twitter-1:before { content: '\e9bf'; } /* '謢�' */
.icon-twitter-bird:before { content: '\e9c0'; } /* '謏�' */
.icon-vimeo:before { content: '\e9c1'; } /* '謏�' */
.icon-vimeo-rect:before { content: '\e9c2'; } /* '謏�' */
.icon-tumblr-1:before { content: '\e9c3'; } /* '謏�' */
.icon-tumblr-rect:before { content: '\e9c4'; } /* '謏�' */
.icon-blogger:before { content: '\e9c5'; } /* '謏�' */
.icon-visa:before { content: '\e9c6'; } /* '謏�' */
.icon-mastercard:before { content: '\e9c7'; } /* '謏�' */
.icon-deviantart:before { content: '\e9c8'; } /* '謏�' */
.icon-jabber:before { content: '\e9c9'; } /* '謏�' */
.icon-lastfm:before { content: '\e9ca'; } /* '謏�' */
.icon-googleplus-rect:before { content: '\e9cb'; } /* '謏�' */
.icon-github-text:before { content: '\e9cc'; } /* '謏�' */
.icon-skype:before { content: '\e9cd'; } /* '謏�' */
.icon-github:before { content: '\e9ce'; } /* '謏�' */
.icon-vkontakte-rect:before { content: '\e9cf'; } /* '謏�' */
.icon-box-rect:before { content: '\e9d0'; } /* '謏�' */
.icon-box:before { content: '\e9d1'; } /* '謏�' */
.icon-instagram-filled:before { content: '\e9d2'; } /* '謏�' */
.icon-wordpress:before { content: '\e9d3'; } /* '謏�' */
.icon-picasa:before { content: '\e9d4'; } /* '謏�' */
.icon-linkedin-rect:before { content: '\e9d5'; } /* '謏�' */
.icon-linkedin-1:before { content: '\e9d6'; } /* '謏�' */
.icon-lastfm-rect:before { content: '\e9d7'; } /* '謏�' */
.icon-instagram-1:before { content: '\e9d8'; } /* '謏�' */
.icon-icq:before { content: '\e9d9'; } /* '謏�' */
.icon-yandex:before { content: '\e9da'; } /* '謏�' */
.icon-yandex-rect:before { content: '\e9db'; } /* '謏�' */
.icon-odnoklassniki:before { content: '\e9dc'; } /* '謏�' */
.icon-odnoklassniki-rect:before { content: '\e9dd'; } /* '謏�' */
.icon-friendfeed:before { content: '\e9de'; } /* '謏�' */
.icon-friendfeed-rect:before { content: '\e9df'; } /* '謏�' */
.icon-discover:before { content: '\e9e0'; } /* '謏�' */
.icon-amex:before { content: '\e9e1'; } /* '謏�' */
.icon-win8:before { content: '\e9e2'; } /* '謏�' */
.icon-youku:before { content: '\e9e3'; } /* '謏�' */
.icon-tudou:before { content: '\e9e4'; } /* '謏�' */
.icon-codepen:before { content: '\e9e5'; } /* '謏�' */
.icon-bandcamp:before { content: '\e9e6'; } /* '謏�' */
.icon-houzz:before { content: '\e9e7'; } /* '謏�' */
.icon-th-list-3:before { content: '\e9e8'; } /* '謏�' */
.icon-th-thumb-empty:before { content: '\e9e9'; } /* '謏�' */
.icon-th-thumb:before { content: '\e9ea'; } /* '謏�' */
.icon-menu-1:before { content: '\e9eb'; } /* '謏�' */
.icon-ok-3:before { content: '\e9ec'; } /* '謏�' */
.icon-ok-circled-1:before { content: '\e9ed'; } /* '謏�' */
.icon-cancel-3:before { content: '\e9ee'; } /* '謏�' */
.icon-cancel-circled-1:before { content: '\e9ef'; } /* '謏�' */
.icon-clock-2:before { content: '\e9f0'; } /* '謏�' */
.icon-stopwatch:before { content: '\e9f1'; } /* '謏�' */
.icon-login-1:before { content: '\e9f2'; } /* '謏�' */
.icon-calendar-2:before { content: '\e9f3'; } /* '謏�' */
.icon-newspaper:before { content: '\e9f4'; } /* '謏�' */
.icon-folder-1:before { content: '\e9f5'; } /* '謏�' */
.icon-folder-open-1:before { content: '\e9f6'; } /* '謏�' */
.icon-folder-empty-1:before { content: '\e9f7'; } /* '謏�' */
.icon-folder-open-empty-1:before { content: '\e9f8'; } /* '謏�' */
.icon-cog-2:before { content: '\e9f9'; } /* '謏�' */
.icon-upload-4:before { content: '\e9fa'; } /* '謏�' */
.icon-download-4:before { content: '\e9fb'; } /* '謏�' */
.icon-lock-open-alt-1:before { content: '\e9fc'; } /* '謏�' */
.icon-lock-open-1:before { content: '\e9fd'; } /* '謏�' */
.icon-lock-alt:before { content: '\e9fe'; } /* '謏�' */
.icon-lock-2:before { content: '\e9ff'; } /* '謏�' */
.icon-plus-2:before { content: '\ea00'; } /* '謒�' */
.icon-help-circled-1:before { content: '\ea01'; } /* '謒�' */
.icon-help-circled-alt:before { content: '\ea02'; } /* '謒�' */
.icon-info-circled-1:before { content: '\ea03'; } /* '謒�' */
.icon-info-circled-alt:before { content: '\ea04'; } /* '謒�' */
.icon-at:before { content: '\ea05'; } /* '謒�' */
.icon-search-2:before { content: '\ea06'; } /* '謒�' */
.icon-resize-full-2:before { content: '\ea07'; } /* '謒�' */
.icon-resize-full-alt-1:before { content: '\ea08'; } /* '謒�' */
.icon-resize-small-alt:before { content: '\ea09'; } /* '謒�' */
.icon-resize-vertical-1:before { content: '\ea0a'; } /* '謒�' */
.icon-resize-horizontal-1:before { content: '\ea0b'; } /* '謒�' */
.icon-undo:before { content: '\ea0c'; } /* '謒�' */
.icon-doc-alt:before { content: '\ea0d'; } /* '謒�' */
.icon-doc-inv-alt:before { content: '\ea0e'; } /* '謒�' */
.icon-doc-inv-1:before { content: '\ea0f'; } /* '謒�' */
.icon-doc-1:before { content: '\ea10'; } /* '謒�' */
.icon-comment-alt2:before { content: '\ea11'; } /* '謒�' */
.icon-book-open:before { content: '\ea12'; } /* '謒�' */
.icon-calendar-inv:before { content: '\ea13'; } /* '謒�' */
.icon-calendar-3:before { content: '\ea14'; } /* '謒�' */
.icon-pencil-neg:before { content: '\ea15'; } /* '謒�' */
.icon-pencil-3:before { content: '\ea16'; } /* '謒�' */
.icon-video-1:before { content: '\ea17'; } /* '謒�' */
.icon-picture-2:before { content: '\ea18'; } /* '謒�' */
.icon-camera-2:before { content: '\ea19'; } /* '謒�' */
.icon-doc-add:before { content: '\ea1a'; } /* '謒�' */
.icon-doc-remove:before { content: '\ea1b'; } /* '謒�' */
.icon-news:before { content: '\ea1c'; } /* '謒�' */
.icon-folder-2:before { content: '\ea1d'; } /* '謒�' */
.icon-folder-add:before { content: '\ea1e'; } /* '謒�' */
.icon-folder-delete:before { content: '\ea1f'; } /* '謒�' */
.icon-archive:before { content: '\ea20'; } /* '謒�' */
.icon-box-1:before { content: '\ea21'; } /* '謒�' */
.icon-rss-1:before { content: '\ea22'; } /* '謒�' */
.icon-phone-outline:before { content: '\ea23'; } /* '謒�' */
.icon-phone-1:before { content: '\ea24'; } /* '謒�' */
.icon-rss-outline:before { content: '\ea25'; } /* '謒�' */
.icon-volume-high:before { content: '\ea26'; } /* '謒�' */
.icon-volume-middle:before { content: '\ea27'; } /* '謒�' */
.icon-volume-low:before { content: '\ea28'; } /* '謒�' */
.icon-volume-off-1:before { content: '\ea29'; } /* '謒�' */
.icon-basket-1:before { content: '\ea2a'; } /* '謒�' */
.icon-wrench-1:before { content: '\ea2b'; } /* '謒�' */
.icon-wrench-outline:before { content: '\ea2c'; } /* '謒�' */
.icon-cog-3:before { content: '\ea2d'; } /* '謒�' */
.icon-cog-outline:before { content: '\ea2e'; } /* '謒�' */
.icon-menu-2:before { content: '\ea2f'; } /* '謒�' */
.icon-menu-outline:before { content: '\ea30'; } /* '謒�' */
.icon-resize-full-outline:before { content: '\ea31'; } /* '謒�' */
.icon-resize-full-3:before { content: '\ea32'; } /* '謒�' */
.icon-resize-normal-outline:before { content: '\ea33'; } /* '謒�' */
.icon-resize-normal:before { content: '\ea34'; } /* '謒�' */
.icon-move-outline:before { content: '\ea35'; } /* '謒�' */
.icon-move-1:before { content: '\ea36'; } /* '謒�' */
.icon-popup:before { content: '\ea37'; } /* '謒�' */
.icon-zoom-in-outline:before { content: '\ea38'; } /* '謒�' */
.icon-zoom-in-1:before { content: '\ea39'; } /* '謒�' */
.icon-zoom-out-outline:before { content: '\ea3a'; } /* '謒�' */
.icon-zoom-out-1:before { content: '\ea3b'; } /* '謒�' */
.icon-popup-1:before { content: '\ea3c'; } /* '謒�' */
.icon-cw-outline:before { content: '\ea3d'; } /* '謒�' */
.icon-cw-2:before { content: '\ea3e'; } /* '謒�' */
.icon-arrows-cw-outline:before { content: '\ea3f'; } /* '謒�' */
.icon-arrows-cw-1:before { content: '\ea40'; } /* '謕�' */
.icon-loop-outline:before { content: '\ea41'; } /* '謕�' */
.icon-loop:before { content: '\ea42'; } /* '謕�' */
.icon-music-outline:before { content: '\ea43'; } /* '謕�' */
.icon-music-2:before { content: '\ea44'; } /* '謕�' */
.icon-search-outline:before { content: '\ea45'; } /* '謕�' */
.icon-search-3:before { content: '\ea46'; } /* '謕�' */
.icon-mail-2:before { content: '\ea47'; } /* '謕�' */
.icon-th-list-outline:before { content: '\ea48'; } /* '謕�' */
.icon-th-large-2:before { content: '\ea49'; } /* '謕�' */
.icon-th-large-outline:before { content: '\ea4a'; } /* '謕�' */
.icon-th-2:before { content: '\ea4b'; } /* '謕�' */
.icon-th-outline:before { content: '\ea4c'; } /* '謕�' */
.icon-camera-3:before { content: '\ea4d'; } /* '謕�' */
.icon-camera-outline:before { content: '\ea4e'; } /* '謕�' */
.icon-picture-outline:before { content: '\ea4f'; } /* '謕�' */
.icon-minus-2:before { content: '\ea50'; } /* '謕�' */
.icon-divide:before { content: '\ea51'; } /* '謕�' */
.icon-eq-outline:before { content: '\ea52'; } /* '謕�' */
.icon-eq:before { content: '\ea53'; } /* '謕�' */
.icon-divide-outline:before { content: '\ea54'; } /* '謕�' */
.icon-home-outline:before { content: '\ea55'; } /* '謕�' */
.icon-pin-1:before { content: '\ea56'; } /* '謕�' */
.icon-lock-open-filled:before { content: '\ea57'; } /* '謕�' */
.icon-lock-open-2:before { content: '\ea58'; } /* '謕�' */
.icon-lock-filled:before { content: '\ea59'; } /* '謕�' */
.icon-lock-3:before { content: '\ea5a'; } /* '謕�' */
.icon-attach-1:before { content: '\ea5b'; } /* '謕�' */
.icon-attach-outline:before { content: '\ea5c'; } /* '謕�' */
.icon-cancel-circled-2:before { content: '\ea5d'; } /* '謕�' */
.icon-cancel-circled-outline:before { content: '\ea5e'; } /* '謕�' */
.icon-cancel-alt-filled:before { content: '\ea5f'; } /* '謕�' */
.icon-cancel-alt:before { content: '\ea60'; } /* '謕�' */
.icon-cancel-4:before { content: '\ea61'; } /* '謕�' */
.icon-video-2:before { content: '\ea62'; } /* '謕�' */
.icon-videocam-outline:before { content: '\ea63'; } /* '謕�' */
.icon-videocam-2:before { content: '\ea64'; } /* '謕�' */
.icon-plus-3:before { content: '\ea65'; } /* '謕�' */
.icon-code-outline:before { content: '\ea66'; } /* '謕�' */
.icon-upload-cloud-1:before { content: '\ea67'; } /* '謕�' */
.icon-upload-cloud-outline:before { content: '\ea68'; } /* '謕�' */
.icon-thumbs-down-2:before { content: '\ea69'; } /* '謕�' */
.icon-thumbs-up-3:before { content: '\ea6a'; } /* '謕�' */
.icon-flag-filled:before { content: '\ea6b'; } /* '謕�' */
.icon-flag-1:before { content: '\ea6c'; } /* '謕�' */
.icon-bookmark-1:before { content: '\ea6d'; } /* '謕�' */
.icon-tags-1:before { content: '\ea6e'; } /* '謕�' */
.icon-tag-2:before { content: '\ea6f'; } /* '謕�' */
.icon-eye-1:before { content: '\ea70'; } /* '謕�' */
.icon-eye-outline:before { content: '\ea71'; } /* '謕�' */
.icon-code:before { content: '\ea72'; } /* '謕�' */
.icon-pen:before { content: '\ea73'; } /* '謕�' */
.icon-feather:before { content: '\ea74'; } /* '謕�' */
.icon-edit:before { content: '\ea75'; } /* '謕�' */
.icon-print-1:before { content: '\ea76'; } /* '謕�' */
.icon-comment-2:before { content: '\ea77'; } /* '謕�' */
.icon-chat-1:before { content: '\ea78'; } /* '謕�' */
.icon-chat-alt:before { content: '\ea79'; } /* '謕�' */
.icon-bell:before { content: '\ea7a'; } /* '謕�' */
.icon-attention-1:before { content: '\ea7b'; } /* '謕�' */
.icon-attention-filled:before { content: '\ea7c'; } /* '謕�' */
.icon-warning-empty:before { content: '\ea7d'; } /* '謕�' */
.icon-warning:before { content: '\ea7e'; } /* '謕�' */
.icon-contacts:before { content: '\ea7f'; } /* '謕�' */
.icon-vcard:before { content: '\ea80'; } /* '謇�' */
.icon-address:before { content: '\ea81'; } /* '謇�' */
.icon-mic-1:before { content: '\ea82'; } /* '謇�' */
.icon-mic-outline:before { content: '\ea83'; } /* '謇�' */
.icon-calendar-4:before { content: '\ea84'; } /* '謇�' */
.icon-calendar-outlilne:before { content: '\ea85'; } /* '謇�' */
.icon-doc-text-1:before { content: '\ea86'; } /* '謇�' */
.icon-trash-2:before { content: '\ea87'; } /* '謇�' */
.icon-compass:before { content: '\ea88'; } /* '謇�' */
.icon-doc-2:before { content: '\ea89'; } /* '謇�' */
.icon-block-outline:before { content: '\ea8a'; } /* '謇�' */
.icon-block-1:before { content: '\ea8b'; } /* '謇�' */
.icon-loop-alt-outline:before { content: '\ea8c'; } /* '謇�' */
.icon-loop-alt:before { content: '\ea8d'; } /* '謇�' */
.icon-shuffle-1:before { content: '\ea8e'; } /* '謇�' */
.icon-play-outline:before { content: '\ea8f'; } /* '謇�' */
.icon-bat-charge:before { content: '\ea90'; } /* '謇�' */
.icon-bat3:before { content: '\ea91'; } /* '謇�' */
.icon-bat2:before { content: '\ea92'; } /* '謇�' */
.icon-bat1:before { content: '\ea93'; } /* '謇�' */
.icon-eject-alt:before { content: '\ea94'; } /* '謇�' */
.icon-stop-1:before { content: '\ea95'; } /* '謇�' */
.icon-pause-outline:before { content: '\ea96'; } /* '謇�' */
.icon-pause-1:before { content: '\ea97'; } /* '謇�' */
.icon-fast-fw-1:before { content: '\ea98'; } /* '謇�' */
.icon-rewind-outline:before { content: '\ea99'; } /* '謇�' */
.icon-rewind:before { content: '\ea9a'; } /* '謇�' */
.icon-fast-fw-outline:before { content: '\ea9b'; } /* '謇�' */
.icon-record-outline:before { content: '\ea9c'; } /* '謇�' */
.icon-record:before { content: '\ea9d'; } /* '謇�' */
.icon-eject-outline:before { content: '\ea9e'; } /* '謇�' */
.icon-eject-1:before { content: '\ea9f'; } /* '謇�' */
.icon-eject-alt-outline:before { content: '\eaa0'; } /* '謇�' */
.icon-globe-alt:before { content: '\eaa1'; } /* '謇�' */
.icon-globe-alt-outline:before { content: '\eaa2'; } /* '謇�' */
.icon-globe-2:before { content: '\eaa3'; } /* '謇�' */
.icon-globe-outline:before { content: '\eaa4'; } /* '謇�' */
.icon-contrast:before { content: '\eaa5'; } /* '謇�' */
.icon-mobile-2:before { content: '\eaa6'; } /* '謇�' */
.icon-wifi-1:before { content: '\eaa7'; } /* '謇�' */
.icon-wifi-outline:before { content: '\eaa8'; } /* '謇�' */
.icon-target:before { content: '\eaa9'; } /* '謇�' */
.icon-target-outline:before { content: '\eaaa'; } /* '謇�' */
.icon-plug:before { content: '\eaab'; } /* '謇�' */
.icon-play-1:before { content: '\eaac'; } /* '謇�' */
.icon-stop-outline:before { content: '\eaad'; } /* '謇�' */
.icon-check-2:before { content: '\eaae'; } /* '謇�' */
.icon-power:before { content: '\eaaf'; } /* '謇�' */
.icon-power-outline:before { content: '\eab0'; } /* '謇�' */
.icon-pipette:before { content: '\eab1'; } /* '謇�' */
.icon-brush-1:before { content: '\eab2'; } /* '謇�' */
.icon-briefcase-1:before { content: '\eab3'; } /* '謇�' */
.icon-leaf:before { content: '\eab4'; } /* '謇�' */
.icon-lifebuoy:before { content: '\eab5'; } /* '謇�' */
.icon-plane:before { content: '\eab6'; } /* '謇�' */
.icon-plane-outline:before { content: '\eab7'; } /* '謇�' */
.icon-chart-alt-outline:before { content: '\eab8'; } /* '謇�' */
.icon-chart-alt:before { content: '\eab9'; } /* '謇�' */
.icon-chart-bar-outline:before { content: '\eaba'; } /* '謇�' */
.icon-chart-bar-1:before { content: '\eabb'; } /* '謇�' */
.icon-chart-pie-outline:before { content: '\eabc'; } /* '謇�' */
.icon-chart-pie-1:before { content: '\eabd'; } /* '謇�' */
.icon-ticket:before { content: '\eabe'; } /* '謇�' */
.icon-facebook-2:before { content: '\eabf'; } /* '謇�' */
.icon-flickr-circled:before { content: '\eac0'; } /* '謍�' */
.icon-facebook-circled:before { content: '\eac1'; } /* '謍�' */
.icon-dribbble:before { content: '\eac2'; } /* '謍�' */
.icon-dribbble-circled:before { content: '\eac3'; } /* '謍�' */
.icon-sort-numeric-outline:before { content: '\eac4'; } /* '謍�' */
.icon-sort-numeric:before { content: '\eac5'; } /* '謍�' */
.icon-sort-alphabet:before { content: '\eac6'; } /* '謍�' */
.icon-sort-alphabet-outline:before { content: '\eac7'; } /* '謍�' */
.icon-looped-square-interest:before { content: '\eac8'; } /* '謍�' */
.icon-looped-square-outline:before { content: '\eac9'; } /* '謍�' */
.icon-flickr-1:before { content: '\eaca'; } /* '謍�' */
.icon-github-1:before { content: '\eacb'; } /* '謍�' */
.icon-lastfm-circled:before { content: '\eacc'; } /* '謍�' */
.icon-lastfm-1:before { content: '\eacd'; } /* '謍�' */
.icon-linkedin-circled:before { content: '\eace'; } /* '謍�' */
.icon-linkedin-2:before { content: '\eacf'; } /* '謍�' */
.icon-at-1:before { content: '\ead0'; } /* '謍�' */
.icon-at-circled:before { content: '\ead1'; } /* '謍�' */
.icon-flow-parallel:before { content: '\ead2'; } /* '謍�' */
.icon-pinterest-circled-1:before { content: '\ead3'; } /* '謍�' */
.icon-pinterest:before { content: '\ead4'; } /* '謍�' */
.icon-bat4:before { content: '\ead5'; } /* '謍�' */
.icon-check-outline:before { content: '\ead6'; } /* '謍�' */
.icon-flow-merge:before { content: '\ead7'; } /* '謍�' */
.icon-pi:before { content: '\ead8'; } /* '謍�' */
.icon-flow-split:before { content: '\ead9'; } /* '謍�' */
.icon-pi-outline:before { content: '\eada'; } /* '謍�' */
.icon-infinity:before { content: '\eadb'; } /* '謍�' */
.icon-key-outline:before { content: '\eadc'; } /* '謍�' */
.icon-key-1:before { content: '\eadd'; } /* '謍�' */
.icon-calculator:before { content: '\eade'; } /* '謍�' */
.icon-infinity-outline:before { content: '\eadf'; } /* '謍�' */
.icon-clipboard:before { content: '\eae0'; } /* '謍�' */
.icon-tree:before { content: '\eae1'; } /* '謍�' */
.icon-credit-card-1:before { content: '\eae2'; } /* '謍�' */
.icon-puzzle:before { content: '\eae3'; } /* '謍�' */
.icon-database-1:before { content: '\eae4'; } /* '謍�' */
.icon-github-circled:before { content: '\eae5'; } /* '謍�' */
.icon-puzzle-outline:before { content: '\eae6'; } /* '謍�' */
.icon-anchor:before { content: '\eae7'; } /* '謍�' */
.icon-skype-1:before { content: '\eae8'; } /* '謍�' */
.icon-tumbler-circled:before { content: '\eae9'; } /* '謍�' */
.icon-tumbler:before { content: '\eaea'; } /* '謍�' */
.icon-twitter-circled:before { content: '\eaeb'; } /* '謍�' */
.icon-twitter-2:before { content: '\eaec'; } /* '謍�' */
.icon-vimeo-circled:before { content: '\eaed'; } /* '謍�' */
.icon-vimeo-1:before { content: '\eaee'; } /* '謍�' */
.icon-skype-outline:before { content: '\eaef'; } /* '謍�' */
.icon-beer:before { content: '\eaf0'; } /* '謍�' */
.icon-coffee-1:before { content: '\eaf1'; } /* '謍�' */
.icon-wine:before { content: '\eaf2'; } /* '謍�' */
.icon-flask:before { content: '\eaf3'; } /* '謍�' */
.icon-scissors:before { content: '\eaf4'; } /* '謍�' */
.icon-scissors-outline:before { content: '\eaf5'; } /* '謍�' */
.icon-chart-outline:before { content: '\eaf6'; } /* '謍�' */
.icon-chart:before { content: '\eaf7'; } /* '謍�' */
.icon-temperatire:before { content: '\eaf8'; } /* '謍�' */
.icon-certificate-1:before { content: '\eaf9'; } /* '謍�' */
.icon-gift:before { content: '\eafa'; } /* '謍�' */
.icon-certificate-outline:before { content: '\eafb'; } /* '謍�' */
.icon-mobile-3:before { content: '\eafc'; } /* '謍�' */
.icon-network:before { content: '\eafd'; } /* '謍�' */
.icon-monitor:before { content: '\eafe'; } /* '謍�' */
.icon-back-in-time:before { content: '\eaff'; } /* '謍�' */
.icon-clock-3:before { content: '\eb00'; } /* '謈�' */
.icon-search-4:before { content: '\eb01'; } /* '謈�' */
.icon-star-3:before { content: '\eb02'; } /* '謈�' */
.icon-star-empty:before { content: '\eb03'; } /* '謈�' */
.icon-heart-empty:before { content: '\eb04'; } /* '謈�' */
.icon-heart-3:before { content: '\eb05'; } /* '謈�' */
.icon-toggle-on:before { content: '\eb06'; } /* '謈�' */
.icon-toggle-off:before { content: '\eb07'; } /* '謈�' */
.icon-down-hand:before { content: '\eb08'; } /* '謈�' */
.icon-up-hand:before { content: '\eb09'; } /* '謈�' */
.icon-right-hand:before { content: '\eb0a'; } /* '謈�' */
.icon-keyboard:before { content: '\eb0b'; } /* '謈�' */
.icon-gamepad:before { content: '\eb0c'; } /* '謈�' */
.icon-retweet:before { content: '\eb0d'; } /* '謈�' */
.icon-docs:before { content: '\eb0e'; } /* '謈�' */
.icon-doc-3:before { content: '\eb0f'; } /* '謈�' */
.icon-compass-1:before { content: '\eb10'; } /* '謈�' */
.icon-direction-1:before { content: '\eb11'; } /* '謈�' */
.icon-export-alt:before { content: '\eb12'; } /* '謈�' */
.icon-export-2:before { content: '\eb13'; } /* '謈�' */
.icon-bookmark-empty:before { content: '\eb14'; } /* '謈�' */
.icon-share-squared:before { content: '\eb15'; } /* '謈�' */
.icon-share:before { content: '\eb16'; } /* '謈�' */
.icon-flag-checkered:before { content: '\eb17'; } /* '謈�' */
.icon-heart-empty-1:before { content: '\eb18'; } /* '謈�' */
.icon-star-empty-1:before { content: '\eb19'; } /* '謈�' */
.icon-star-half:before { content: '\eb1a'; } /* '謈�' */
.icon-star-half-alt:before { content: '\eb1b'; } /* '謈�' */
.icon-user-plus:before { content: '\eb1c'; } /* '謈�' */
.icon-user-times:before { content: '\eb1d'; } /* '謈�' */
.icon-user-secret:before { content: '\eb1e'; } /* '謈�' */
.icon-eye-off:before { content: '\eb1f'; } /* '謈�' */
.icon-eye-2:before { content: '\eb20'; } /* '謈�' */
.icon-quote-left:before { content: '\eb21'; } /* '謈�' */
.icon-mail-squared:before { content: '\eb22'; } /* '謈�' */
.icon-camera-alt:before { content: '\eb23'; } /* '謈�' */
.icon-glass:before { content: '\eb24'; } /* '謈�' */
.icon-attach-2:before { content: '\eb25'; } /* '謈�' */
.icon-unlink:before { content: '\eb26'; } /* '謈�' */
.icon-marquee:before { content: '\eb27'; } /* '謈�' */
.icon-crown-minus:before { content: '\eb28'; } /* '謈�' */
.icon-crown-plus:before { content: '\eb29'; } /* '謈�' */
.icon-crown:before { content: '\eb2a'; } /* '謈�' */
.icon-ie:before { content: '\eb2b'; } /* '謈�' */
.icon-opera:before { content: '\eb2c'; } /* '謈�' */
.icon-chrome:before { content: '\eb2d'; } /* '謈�' */
.icon-firefox:before { content: '\eb2e'; } /* '謈�' */
.icon-spin5:before { content: '\eb2f'; } /* '謈�' */
.icon-spin6:before { content: '\eb30'; } /* '謈�' */
.icon-spin3:before { content: '\eb31'; } /* '謈�' */
.icon-cart-arrow-down:before { content: '\eb32'; } /* '謈�' */
.icon-cart-plus:before { content: '\eb33'; } /* '謈�' */
.icon-bell-1:before { content: '\eb34'; } /* '謈�' */
.icon-mute:before { content: '\eb35'; } /* '謈�' */
.icon-comment-empty:before { content: '\eb36'; } /* '謈�' */
.icon-chat-empty:before { content: '\eb37'; } /* '謈�' */
.icon-bell-off-empty:before { content: '\eb38'; } /* '謈�' */
.icon-code-1:before { content: '\eb39'; } /* '謈�' */
.icon-quote-right:before { content: '\eb3a'; } /* '謈�' */